@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
html, body, table, td, tr {
  font-family: "Open Sans", Helvetica, Roboto, Arial, sans-serif;
  color: #635d5e !important;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.font-family-open-sans {
  font-family: "Open Sans", Helvetica, Roboto, Arial, sans-serif;
}

.font-family-verdana {
  font-family: Verdana, Helvetica, Roboto, Arial, sans-serif;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-11 {
  font-size: 11px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-15 {
  font-size: 15px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-17 {
  font-size: 17px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-19 {
  font-size: 19px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-21 {
  font-size: 21px;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-23 {
  font-size: 23px;
}

.font-size-24 {
  font-size: 24px;
}

*, *:after {
  box-sizing: border-box;
}

html,
body,
#page-wrapper {
  min-width: 0;
}

#skip-link,
#page-wrapper,
#sidebar-first,
#sidebar-second,
#content,
.one-sidebar #content,
#footer {
  width: 100%;
  min-width: auto;
}

.topbar {
  background: #f1f1f1;
  border-bottom: 1px solid #d9d9d9;
  height: 37px;
  margin-bottom: 37px;
}

.header {
  text-align: center;
  background: #fff !important;
  padding-bottom: 20px;
}
.header #logo img {
  max-width: 100%;
}

.border-top {
  border-top: 20px solid #6fb346;
  margin: 0 15px;
}

#messages {
  margin: 0 15px;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media only screen and (min-width: 768px) {
  .wrapper {
    width: 768px;
    padding: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .wrapper {
    width: 1024px;
  }
}
@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
  }
}

.main-content {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.main-content h1 {
  word-wrap: break-word;
}

#page-wrapper, #footer-wrapper {
  background: #545454;
}

#crm-container,
.crm-container {
  line-height: 1.5;
}
#crm-container iframe,
.crm-container iframe {
  width: 100%;
  min-height: 200px;
}
#crm-container a,
.crm-container a {
  color: #de447a;
  text-decoration: underline;
}
#crm-container a.button, #crm-container .crm-submit-buttons span.crm-button,
.crm-container .crm-submit-buttons #crm-container span.crm-button,
.crm-container a.button,
.crm-container #crm-container .crm-submit-buttons span.crm-button,
#crm-container .crm-submit-buttons .crm-container span.crm-button,
.crm-container .crm-submit-buttons span.crm-button {
  padding: 6px 10px;
  background: #6fb346;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
  border: 0;
  outline: 0;
  text-decoration: none;
  text-shadow: none;
}
#crm-container img,
.crm-container img {
  max-width: 100%;
  height: auto;
}
#crm-container h3,
.crm-container h3 {
  background: #6fb346;
  color: #fff;
  padding: 0px;
}
#crm-container .crm-submit-buttons,
.crm-container .crm-submit-buttons {
  height: 50px;
}
#crm-container .crm-submit-buttons span.crm-button .crm-i,
.crm-container .crm-submit-buttons span.crm-button .crm-i {
  line-height: 26px;
}
#crm-container .crm-submit-buttons span.crm-button input,
.crm-container .crm-submit-buttons span.crm-button input {
  font-size: 14px !important;
  text-transform: uppercase;
  text-shadow: none;
  color: #fff;
}
#crm-container .register_link-section,
.crm-container .register_link-section {
  padding: 0;
  margin: 15px 0;
}
#crm-container td.price_set_option-label,
.crm-container td.price_set_option-label {
  padding: 0px;
}
#crm-container .form-layout-compressed td,
.crm-container .form-layout-compressed td {
  padding: 0 10px 0 0;
}
#crm-container .iCal_links-section,
.crm-container .iCal_links-section {
  margin-top: 50px;
}
#crm-container .crm-section fieldset,
.crm-container .crm-section fieldset {
  display: table-row;
  width: 100%;
}
#crm-container .crm-section fieldset legend,
.crm-container .crm-section fieldset legend {
  padding: 4px 4px 4px 0;
}
@media only screen and (min-width: 768px) {
  #crm-container .crm-section fieldset legend,
  .crm-container .crm-section fieldset legend {
    padding: 4px;
  }
}
#crm-container .crm-section .label,
.crm-container .crm-section .label {
  float: left;
  width: 100%;
  text-align: left;
}
@media only screen and (min-width: 768px) {
  #crm-container .crm-section .label,
  .crm-container .crm-section .label {
    width: 24%;
    text-align: right;
  }
}
@media only screen and (min-width: 1024px) {
  #crm-container .crm-section .label,
  .crm-container .crm-section .label {
    width: 17%;
    text-align: right;
  }
}
#crm-container .crm-section .label label,
.crm-container .crm-section .label label {
  font-weight: 700;
}
#crm-container .crm-section .content,
.crm-container .crm-section .content {
  float: left;
  width: 100%;
  margin-left: 0;
}
@media only screen and (min-width: 768px) {
  #crm-container .crm-section .content,
  .crm-container .crm-section .content {
    float: none;
    width: auto;
    margin-left: 4%;
  }
}
@media only screen and (min-width: 1024px) {
  #crm-container .crm-section .content,
  .crm-container .crm-section .content {
    float: left;
    width: auto;
    margin-left: 1%;
  }
}
#crm-container .crm-section .content .select2-container a,
.crm-container .crm-section .content .select2-container a {
  height: 2.8em;
}
#crm-container .crm-section .content .select2-container a .select2-search-choice-close,
.crm-container .crm-section .content .select2-container a .select2-search-choice-close {
  top: 13px;
}
#crm-container .crm-section .content .crm-error,
.crm-container .crm-section .content .crm-error {
  float: left;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  #crm-container .crm-section .content .crm-error,
  .crm-container .crm-section .content .crm-error {
    float: none;
    width: auto;
  }
}
#crm-container .crm-contribution-main-form-block .payment_processor-section .content,
.crm-container .crm-contribution-main-form-block .payment_processor-section .content {
  width: auto;
  text-align: left;
}
#crm-container .crm-contribution-main-form-block .payment_processor-section .content input,
.crm-container .crm-contribution-main-form-block .payment_processor-section .content input {
  float: left;
  width: 3%;
}
@media only screen and (min-width: 768px) {
  #crm-container .crm-contribution-main-form-block .payment_processor-section .content input,
  .crm-container .crm-contribution-main-form-block .payment_processor-section .content input {
    float: none;
    width: auto;
  }
}
#crm-container .crm-contribution-main-form-block .payment_processor-section .content label,
.crm-container .crm-contribution-main-form-block .payment_processor-section .content label {
  display: inline-block;
  float: left;
  width: 90%;
  line-height: 22px;
}
@media only screen and (min-width: 768px) {
  #crm-container .crm-contribution-main-form-block .payment_processor-section .content label,
  .crm-container .crm-contribution-main-form-block .payment_processor-section .content label {
    float: none;
    width: auto;
  }
}
#crm-container .crm-event-info-form-block .event-info .crm-actionlinks-top,
.crm-container .crm-event-info-form-block .event-info .crm-actionlinks-top {
  display: inline-block;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  #crm-container .crm-event-info-form-block .event-info .crm-actionlinks-top,
  .crm-container .crm-event-info-form-block .event-info .crm-actionlinks-top {
    display: block;
    width: auto;
  }
}
#crm-container .crm-event-info-form-block .event-info .crm-actionlinks-top .action-link,
.crm-container .crm-event-info-form-block .event-info .crm-actionlinks-top .action-link {
  float: left;
}
@media only screen and (min-width: 768px) {
  #crm-container .crm-event-info-form-block .event-info .crm-actionlinks-top .action-link,
  .crm-container .crm-event-info-form-block .event-info .crm-actionlinks-top .action-link {
    float: right;
  }
}
#crm-container .crm-event-info-form-block .event_map-section .content,
.crm-container .crm-event-info-form-block .event_map-section .content {
  text-align: left;
}
#crm-container .crm-event-info-form-block .event_map-section .content,
.crm-container .crm-event-info-form-block .event_map-section .content {
  width: 100%;
  margin-left: 18%;
}
#crm-container .crm-event-info-form-block .event_map-section #google_map,
.crm-container .crm-event-info-form-block .event_map-section #google_map {
  max-width: 100%;
}
#crm-container .crm-event-info-form-block .action-link,
.crm-container .crm-event-info-form-block .action-link {
  padding: 0;
}
#crm-container .crm-socialnetwork.help,
.crm-container .crm-socialnetwork.help {
  width: 100%;
  height: auto;
  background: transparent;
  border: 1px solid #f1f1f1;
}
#crm-container .crm-socialnetwork.help .label,
.crm-container .crm-socialnetwork.help .label {
  width: 100% !important;
  padding-top: 0;
  padding-right: 0;
  text-align: left;
}
@media only screen and (min-width: 768px) {
  #crm-container .crm-socialnetwork.help .label,
  .crm-container .crm-socialnetwork.help .label {
    width: 24% !important;
    padding-top: 6px;
    padding-right: 6px;
    text-align: right;
  }
}
#crm-container .crm-socialnetwork.help h3,
.crm-container .crm-socialnetwork.help h3 {
  color: #635d5e;
}
#crm-container .crm-socialnetwork.help iframe,
.crm-container .crm-socialnetwork.help iframe {
  width: 100% !important;
  height: 40px !important;
  min-height: 0 !important;
}
@media only screen and (min-width: 576px) {
  #crm-container .crm-socialnetwork.help iframe,
  .crm-container .crm-socialnetwork.help iframe {
    height: 30px !important;
  }
}

#crm-container a, .crm-container a {
  color: #de447a;
}

.crm-container .status {
  background-color: #ffffcc;
  border: 1px solid #ffff66;
  color: #3e3e3e;
}

.crm-container .crm-error, .crm-container .crm-inline-error {
  background: #fbe3e4;
  color: #8a1f11;
}

input[type="text"], input[type="password"], textarea {
  max-width: 100%;
}
