@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
html, body, table, td, tr {
  font-family: "Open Sans", Helvetica, Roboto, Arial, sans-serif;
  color: #635d5e !important;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

*, *:after {
  box-sizing: border-box;
}

html, body, #page-wrapper {
  min-width: 0;
}

#crm-container, .crm-container {
  line-height: 1.5;
}
#crm-container iframe, .crm-container iframe {
  width: 100%;
  min-height: 200px;
}
#crm-container a, .crm-container a {
  color: #de447a;
  text-decoration: underline;
}
#crm-container a.button, #crm-container span.crm-button, .crm-container a.button, .crm-container #crm-container span.crm-button, #crm-container .crm-container span.crm-button, .crm-container span.crm-button {
  padding: 6px 10px;
  background: #6fb346;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
  border: 0;
  outline: 0;
  text-decoration: none;
  text-shadow: none;
}
#crm-container span.crm-button input, .crm-container span.crm-button input {
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: none;
  color: #fff;
}
#crm-container .crm-section .label, .crm-container .crm-section .label {
  text-align: left;
}
#crm-container .crm-section .label label, .crm-container .crm-section .label label {
  font-weight: 700;
}
#crm-container .register_link-section, .crm-container .register_link-section {
  padding: 0;
  margin: 15px 0;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media only screen and (min-width: 768px) {
  .wrapper {
    width: 768px;
    padding: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .wrapper {
    width: 1024px;
  }
}
@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
  }
}

.topbar {
  background: #f1f1f1;
  border-bottom: 1px solid #d9d9d9;
  height: 37px;
  margin-bottom: 37px;
}

.header {
  text-align: center;
  background: #fff !important;
  padding-bottom: 20px;
}

.main-content {
  border-top: 20px solid #6fb346;
  padding: 0px 5px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .main-content {
    width: 90%;
  }
}
@media only screen and (min-width: 1200px) {
  .main-content {
    width: 80%;
  }
}

h1.title {
  color: #00969b;
}

.crm-container h3 {
  background: #6fb346;
  color: #fff;
  padding: 0px;
}

.crm-container td.price_set_option-label {
  padding: 0px;
}

.crm-container .form-layout-compressed td {
  padding: 0 10px 0 0;
}

.crm-container .help, .crm-container #help {
  background: transparent;
  border: 1px solid #f1f1f1;
  height: auto;
}
.crm-container .help h3, .crm-container #help h3 {
  color: #635d5e;
}
.crm-container .help .label, .crm-container #help .label {
  padding-top: 20px;
  padding-bottom: 20px;
}

.iCal_links-section {
  margin-top: 50px;
}

.crm-container .crm-section .label {
  float: left;
  width: 24%;
  text-align: right;
  display: block;
}
.crm-container .crm-section .content {
  margin-left: 24%;
}

#page-wrapper, #footer-wrapper {
  background: #545454;
}

div.crm-section.crm-socialnetwork.help iframe {
  min-height: 0 !important;
}
div.crm-section.crm-socialnetwork.help .label {
  width: 17%;
}

#crm-container a, .crm-container a {
  color: #de447a;
}

.crm-container .status {
  background-color: #FFFFCC;
  border: 1px solid #FFFF66;
  color: #3e3e3e;
}

.crm-container .crm-error, .crm-container .crm-inline-error {
  background: #FBE3E4;
  color: #8A1F11;
}
