html,body,table,td,tr {
    font-family: "Open Sans", Helvetica, Roboto, Arial, sans-serif;
    color: $font-color !important;
    font-size: 16px;
    line-height: $line-height;
    margin: 0;
    padding: 0;
}

.font-family-open-sans {
    font-family: "Open Sans", Helvetica, Roboto, Arial, sans-serif;
}

.font-family-verdana {
        font-family: Verdana, Helvetica, Roboto, Arial, sans-serif;
}

.font-size-10 {
    font-size: 10px;
}

.font-size-11 {
    font-size: 11px;
}
.font-size-12 {
    font-size: 12px;
}
.font-size-13 {
    font-size: 13px;
}
.font-size-14 {
    font-size: 14px;
}
.font-size-15 {
    font-size: 15px;
}
.font-size-16 {
    font-size: 16px;
}
.font-size-17 {
    font-size: 17px;
}
.font-size-18 {
    font-size: 18px;
}
.font-size-19 {
    font-size: 19px;
}
.font-size-20 {
    font-size: 20px;
}
.font-size-21 {
    font-size: 21px;
}
.font-size-22 {
    font-size: 22px;
}
.font-size-23 {
    font-size: 23px;
}
.font-size-24 {
    font-size: 24px;
}

*, *:after {
    box-sizing: border-box;
}

html,
body,
#page-wrapper {
    min-width: 0;
}

#skip-link, 
#page-wrapper, 
#sidebar-first, 
#sidebar-second, 
#content, 
.one-sidebar #content, 
#footer {
    width: 100%;
    min-width: auto;
}

.topbar {
    background: #f1f1f1;
    border-bottom: 1px solid #d9d9d9;
    height: 37px;
    margin-bottom: 37px;
}

.header {
    text-align: center;
    background: #fff !important;
    padding-bottom: 20px;
    
    #logo {
        img {
            max-width: 100%;
        }
    }
}

.border-top {
    border-top: 20px solid $primary-color;
    margin: 0 15px;
}

#messages {
    margin: 0 15px;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    @include respond-to($breakpoint-tablet) {
        width: 768px;
        padding: 0;
    }
    @include respond-to($breakpoint-desktop) {
        width: 1024px;
    }
    @include respond-to($breakpoint-wide) {
        width: 1200px;
    }
}

.main-content {
    width: 100%;
    margin: 0 auto;
    position: relative;
    
    h1 {
        word-wrap: break-word;
    }
}

#page-wrapper, #footer-wrapper {
    background: #545454;
}

#crm-container, 
.crm-container {
    line-height: $line-height;
    
    iframe {
        width: 100%;
        min-height: 200px;
    }
    
    a {
        color: $third-color;
        text-decoration: underline;
    }
    
    a.button {
        padding: 6px 10px;
        background: $primary-color;
        text-transform: uppercase;
        font-weight: 700;
        color: #fff;
        font-size: 14px;
        border-radius: 3px;
        border: 0;
        outline: 0;
        text-decoration: none;
        text-shadow: none;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    h3 {
        background: $primary-color;
        color: #fff;
        padding: 0px;
    }
    
    .crm-submit-buttons {
        height: 50px;
        
        span.crm-button {
            @extend a.button;
            
            .crm-i {
                line-height: 26px;
            }
            
            input {
                font-size: 14px !important; // inportant is overwrite civicrm.css
                text-transform: uppercase;
                text-shadow: none;
                color: #fff;
            }
        }
    }
    
    .register_link-section {
        padding: 0;
        margin: 15px 0;
    }
    
    td.price_set_option-label {
        padding: 0px;
        width: 70%;
        
        @include respond-to($breakpoint-desktop) {
            width: auto;
        }
    }
    
    .form-layout-compressed td {
        padding: 0 10px 0 0;
    }
    
    .iCal_links-section {
        margin-top: 50px;
    }
        
    // Civicrm all 
    .crm-section {
        display: table;
        width: 100%;
        max-width: 100%;
        
        fieldset {
            display: table-row;
            width: 100%;
            max-width: 100%;

            legend {
                padding: 4px 4px 4px 0;

                @include respond-to($breakpoint-tablet) {
                    padding: 4px;
                }
            }
        }
        
        .label {
            float: left;
            width: 100%;
            text-align: left;
            
            @include respond-to($breakpoint-tablet) {
                width: 24%;
                text-align: right;
            }
            
            @include respond-to($breakpoint-desktop) {
                width: 17%;
                text-align: right;
            }
            
            label {
                font-weight: 700;
            }
        }
        
        .content {
            float: left;
            width: 100%;
            margin-left: 0;
            
            @include respond-to($breakpoint-tablet) {
                float: left;
                width: auto;
                margin-left: 1%;
            }
            
            .select2-container {
                a {
                    height: 2.8em;
                    
                    .select2-search-choice-close {
                        top: 13px;
                    }
                }
            }
            
            .crm-error {
                float: left;
                width: 100%;
                
                @include respond-to($breakpoint-tablet) {
                    float: none;
                    width: auto;
                }
            }
        }
    }
    
    // Civicrm contribution
    .crm-contribution-main-form-block {
                
        // Civicrm payment processor
        .payment_processor-section {
            .content {
                width: auto;
                text-align: left;
                
                input {
                    float: left;
                    width: 3%;
                    
                    @include respond-to($breakpoint-tablet) {
                        float: none;
                        width: auto;
                    }
                }
                
                label {
                    display: inline-block;
                    float: left;
                    width: 90%;
                    line-height: 22px;
                    
                    @include respond-to($breakpoint-tablet) {
                        float: none;
                        width: auto;
                    }
                }
            }
        }
    }
    
    
    // Civicrm event
    .crm-event-info-form-block {
        
        // Civicrm event info
        .event-info {
            .crm-actionlinks-top {
                display: inline-block;
                width: 100%;
                
                @include respond-to($breakpoint-tablet) {
                    display: block;
                    width: auto;
                }
                
                .action-link {
                    float: left;
                    
                    @include respond-to($breakpoint-tablet) {
                        float: right;
                    }
                }
            }
        }
        
        // Civicrm event map
        .event_map-section {
            .content {
                text-align: left;
            }
        }

        // Civicrm event overwrite
        .event_map-section {
            .content {
                width: 100%;
                margin-left: 0;
                
                @include respond-to($breakpoint-tablet) {
                    margin-left: 25%;
                }
                
                @include respond-to($breakpoint-desktop) {
                    margin-left: 18%;
                }
            }

            #google_map {
                max-width: 100%;
            }
        }

        // Civicrm event action
        .action-link {
            padding: 0;
        }
    }
    
    // Civicrm socialnetwork
    .crm-socialnetwork {
        &.help {
            width: 100%;
            height: auto;
            background: transparent;
            border: 1px solid #f1f1f1;
                        
            .label {
                width: 100% !important;
                padding-top: 0;
                padding-right: 0;
                text-align: left;
                
                @include respond-to($breakpoint-tablet) {
                    width: 24% !important;
                    padding-top: 6px;
                    padding-right: 6px;
                    text-align: right;
                }
            } 
            
            h3 {
                color: $font-color;
            }
            
            iframe {
                width: 100% !important;
                height: 40px !important;
                min-height: 0 !important;
                
                @include respond-to($breakpoint-phone) {
                    height: 30px !important;
                }
            }
        }
    }
}