input[type="text"], input[type="password"], textarea {
    max-width: 100%;
    width: 100% !important;
    
    @include respond-to($breakpoint-tablet) {
        width: auto !important;
    }
}

input[type="submit"] {
    
}