@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

$primary-color:         #6fb346;
$secondary-color:       #00969b;
$third-color:           #de447a;
$font-color:            #635d5e;
$border-color:          #cfcec3;
$error-background:      #fbe3e4;
$error-text:            #8a1f11;
$status-background:     #ffffcc;
$status-border:         #ffff66;
$status-text:           #3e3e3e;

$line-height:           1.5;

$breakpoint-phone:      576px;
$breakpoint-tablet:     768px;
$breakpoint-desktop:    1024px;
$breakpoint-wide:       1200px;
