@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

$primary-color:         #6fb346;
$secondary-color:       #00969b;
$third-color:           #de447a;
$font-color:            #635d5e;
$border-color:          #CFCEC3;

$line-height:           1.5;

$breakpoint-tablet:     768px;
$breakpoint-desktop:    1024px;
$breakpoint-wide:       1200px;
